body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #F4F4F4 url(../img/body.gif);
}

h1
{
	text-shadow: 0 1px 0 rgba(255, 255, 255, .45);
}

ul
{
	list-style: none;
}

.title
{
	font-size: 40px;
	line-height: 25px;
	display: block;
	margin-bottom: 6px;
}

.title-background
{
	background-color: white;
}

/**************/
/* Roundabout */
/**************/
.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 51em;
	width: 30em;
	margin: auto
}
.roundabout-moveable-item {
	height: 50em;
	width: 60em;
	cursor: pointer;
	background-color: #fff;

	border: 1px solid #E3E3E3;

	-webkit-box-shadow:  7px 7px 5px 0px rgba(99, 99, 99, .5);
	box-shadow:  7px 7px 5px 0px rgba(99, 99, 99, .5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.roundabout-in-focus {
	cursor: auto;
}

/* Dram project*/
.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.fclear-left
{
	float: left;
	clear: left;
}

.fclear-right
{
	float: right;
	clear: right;
}

.center
{
	margin: auto;
}

.info
{
	height: 45em; /* Resize aware */
	position: absolute;
	right: 0px;
	width: 55%; /* 60% minus margin */
	margin-right: 4%;
	margin-left: 1%; /* Half and half with info */
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	overflow: hidden;
}

.roundabout-in-focus .info
{
	overflow-y: auto; 
}

.left-image
{
	height: 45em; /* Resize aware */
	position: absolute;
	left: 0px;
	width: 37%; /* 40% minus margins */
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	margin-right: 1%; /* Half and half with info */
	margin-left: 2%;
	background: no-repeat center center;
	background-size: contain;
}

.card
{
	height: 50em;
	width: 60em;
}

#nav-list
{
	background-color: white;
	overflow-y: scroll;
}

.span3
{
	margin-top: 20px;
	margin-right: 20px;
}

.nav > li:hover
{
	cursor: pointer;
}

.nav > li.active
{
	cursor: default;
}

/***
***  Footer
***/

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background: transparent;
	clear: both;
	z-index: 999;
} 

#footer-button
{
	height: 40px;
	width: 40px;
	margin-left: 260px;
	z-index: 999;
}

.footer-arrow
{
	position: absolute;
	left: 13px;
	top: 13px;
}

#footer-content
{
	margin: auto;
	margin-top: 40px; 

	height: 100%;
	width: 100%;
}

.footer-list
{
	list-style-type: none;
	text-shadow: white 0px 1px 0px;
}

.footer-border
{
	border-top: 1px solid #E3E3E3;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 0px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.05);
	background-color: #D9D9D9;
	position:absolute;
}

.footer-group
{
	width: 620px;	
	padding-top: 26px;
}

.footer-column
{
	padding-left: 50px;
}

.footer-column h3
{
	text-shadow: white 0px 1px 0px;	
}

.signature
{
	font-family: 'Kaushan Script', cursive;
	font-size: 36px;
	padding: 10px;
}

/* Paging */
#nav 
{
	position: absolute;
	top: 0;
	left: 50px;
	z-index: 50;
	background-color: #ccc
}

#nav > li
{
	float: left;
	padding: 5px 10px;
}

#wrapper
{ 
	height: 51em; 
	overflow: hidden;
	position: relative;
	z-index: 20;
	margin-right: 20px;
}

#wrapper > div
{ 
	width: 100%; 
	height: 51em;
}

/**
*** Media sizes
***/

@media screen and (min-width: 600px) and (max-width: 1400px) {
	.card 
	{
		width: 100%;
		height: 100%;
	}
	
	.page
	{
		padding: 0px;
		background-color: #fff;
	}

	.page ul
	{
		margin-left: 0px;
	}
	
	.page li
	{
		float: left;
		position: absolute;
		width: 100%;
		height: 100%;
		display:none;
	}

	#wrapper
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#wrapper > div
	{
		height: auto;
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	#about,
	#footer
	{
		display: none;
	}

	.title
	{
		display: inline;
	}

	.title-background
	{
		text-align: center;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	.span3
	{
		margin-top: 0px;
	}

	li.divider
	{
		display: none;
	}

	#nav-list 
	{
		overflow-y: hidden;
		margin-bottom: 15px;
	}

	#left-col
	{
		position: relative;
		z-index: 100;
	}
}

/**
***  Bootstrap overwrite  
***/

.nav-list > .active > a, .nav-list > .active > a:hover
{
	background-color: #333;
}

a
{
	color: #333;
}

h3
{
	margin-bottom: 0px;
}