/* Roundabout */
.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 41em;
	width: 30em;
	margin: auto
}
.roundabout-moveable-item {
	height: 40em;
	width: 40em;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #999;
}
.roundabout-in-focus {
	cursor: auto;
}

/* Dram project*/
.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.fclear-left
{
	float: left;
	clear: left;
}

.fclear-right
{
	float: right;
	clear: right;
}

.info
{
	width: 20em;
}

.card
{
	overflow: hidden;
	height: 40em;
	width: 40em;
}

img
{
	height: 35em;
	max-width: 17em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
}

/* Paging */
#nav 
{
	position: absolute;
	top: 0;
	left: 50px;
	z-index: 50;
	background-color: #ccc
}
#nav > li
{
	float: left;
	padding: 5px 10px;
}
#wrapper
{ 
	height: 41em; 
	overflow: hidden;
	position: relative;
	z-index: 20;
}
#wrapper > div
{ 
	width: 100%; 
	height: 41em;
}

​